#auth {
    padding: 15px;

    .page-title {
        margin:0;
    }

    .controls {
        padding: 15px 0;
    }

    .actions {
        label.ms-Label {
            display: block;
            margin: 15px 0 0 0;
        }
    }
}